.wellcome-card {
  display: flex;
  align-content: center;
}

.slogan {
  background-color: #f7f7f7;
  font-size: large;
  text-align: center;
}

.wellcome-card img{
  max-width: 10vw;
  max-height: 10vh;
  overflow: hidden;
}

.section-01 {
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
    text-align: left;
    padding: 5px;
}

.section-01 img {
    width: 50%;
    border-radius: 10px;
}

#txt-01 {
    padding: 10px;
    align-content: center;
    color: #000000;
    font-size: larger;
}

.section-02 {
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
    text-align: left;
    padding: 5px;
}

.section-02 img {
    width: 50%;
    border-radius: 10px;
}

#txt-02 {
    padding: 10px;
    align-content: center;
    color: #000000;
    font-size: larger;
}

@media screen and (max-width: 500px){

    .section-01 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .section-01 img {
        width: 100%;
        border-radius: 10px;
    }

    .section-02 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .section-02 img {
        width: 100%;
        border-radius: 10px;
    }
}