<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="../assets/logo hommy.png" alt="logo hommy" />
    <ion-card-header>
      <ion-card-title>Alugue as melhores repúblicas próximas a sua universidade</ion-card-title>
    </ion-card-header>  
  </ion-card>
  <ion-card>
    <ion-card-title>Repúblicas favoritas</ion-card-title>
  </ion-card>
  <ion-card class = "section-01">
    <img src="../assets/img4.png" alt="republica das tulipas">
    <ion-text id="txt-01"><h3>Republica das Tulipas, 74</h3><br><br>Republica aconchegante localizada em Bonsucesso, com cozinha compartilhada com sala e quartos individuais com cama solteiro e cama de casal. Espaço silencioso e tranquilo para estudos.<br><br>R$ 550,00 / mês</ion-text>
  </ion-card>

  <ion-card class = "section-02">
    <img src="../assets/img5.png" alt="republica das orquideas">
    <ion-text id="txt-02"><h3>Republica das Orquideas, 135</h3><br><br>Republica aconchegante localizada na Tijuca, Rio de Janeiro, com cozinha compartilhada com sala e quartos individuais com cama solteiro e cama de casal. Espaço silencioso e tranquilo para estudos.<br><br>R$ 600,00 / mês</ion-text>
  </ion-card>
</ion-content>
