<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../assets/logo hommy.png" alt="logo hommy" />
    <ion-card-header>
      <ion-card-title>Alugue as melhores repúblicas próximas a sua universidade</ion-card-title>
    </ion-card-header>  
  </ion-card>

  <ion-card class = "section-01">
    <ion-text id="txt-01"><h5>Veja as repúblicas mais bem avaliadas pelo os usuários do Hommy.</h5></ion-text>
    <img src="../assets/img1.png" alt="exemplo republica">
  </ion-card>

  <ion-card class = "section-02">
    <img src="../assets/img2.png" alt="homem sorrindo">
    <ion-text id="txt-02"><h5>Quer se tornar um locador com excelência? Nossos superhosts darão as dicas!</h5></ion-text>
  </ion-card>

  <ion-card class = "section-03">
    <ion-text id="txt-03"><h5>Saiba como o Hommy pode facilitar a vida de quem está querendo morar mais perto de onde estuda.</h5></ion-text>
    <img src="../assets/img3.png" alt="logo hommy">
  </ion-card>
</ion-content>


