.wellcome-card {
    display: flex;
    align-content: center;
}

.slogan {
    background-color: #f7f7f7;
    font-size: large;
    text-align: center;
}

.wellcome-card img{
    max-width: 10vw;
    max-height: 10vh;
    overflow: hidden;
}

.section-01 {
    display: flex;
    justify-content: space-evenly;
    background-color: #c4c4c4;
    text-align: left;
    padding: 5px;
}

.section-01 img {
    width: 50%;
}

#txt-01 {
    padding: 10px;
    align-content: center;
    color: #ffffff;
}

.section-02 {
    display: flex;
    justify-content: space-evenly;
    background-color: #c35f1b;
    text-align: left;
    padding: 5px;
}

.section-02 img {
    width: 50%;
}

#txt-02 {
    padding: 10px;
    align-content: center;
    color: #ffffff;
}

.section-03 {
    display: flex;
    justify-content: space-evenly;
    background-color: #c4c4c4;
    text-align: left;
    padding: 5px;
}

.section-03 img {
    width: 50%;
}

#txt-03 {
    padding: 10px;
    align-content: center;
    color: #ffffff;
}